streamlit
openai
python-dotenv
pandas
langgraph
langchain-openai
pydantic
matplotlib
tabulate
azure-core
dbt-core
faiss-cpu
langchain
langchain-community
plotly
sentence-transformers
openpyxl
numpy
